.noUi-connect {
  background: #d4a373;
}

.noUi-handle {
  background: #8b5e3b;
  border: 1px solid #d4a373;
}

.noUi-tooltip {
  background: #8b5e3b;
  color: #faf3e0; /* Màu chữ trong tooltip */
}

.noUi-base {
  background: #faf3e0;
}

.noUi-handle:active,
.noUi-handle:hover {
  background-color: #d4a373;
  border-color: #8b5e3b;
}

.noUi-tooltip {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
}

input[type="number"] {
  font-size: 1rem;
  padding: 10px;
  border: 2px solid #d4a373;
  border-radius: 8px;
  background-color: #faf3e0;
  color: #4a3f35;
  transition: all 0.3s ease;
}

input[type="number"]:focus {
  border-color: #8b5e3b;
  outline: none;
  box-shadow: 0 0 0 2px rgba(139, 94, 59, 0.5);
}
